*{
    padding: 0px;
    margin: 0px;
}
body{
    height: 100%;
    display: flex;
    flex-direction: column;
    
}
#bac_img{
    background-image:url("imgs/header-1.jpeg");
    display: flex;
    background-size: contain;
    height: 675px;
    position: relative;
    width: 100%;
    /* position: absolute; */
    /* background-color: red; */
}
#content{
    display: flex;
    background-color:#e7696999;
    background-size: cover;
    position: absolute;
    /* bottom: 500px;  */
    flex-direction: column;
    width: 100%;
    height:675px;
    /* z-index:2; */
}
#bacimg_head{
    display: flex;
    list-style: none;
    justify-content: space-around;
    flex-direction: row;
    /* width: 100%; */
    padding: 40px 110px 0px 60px;
    /* background-color: black; */
    color: white;
    font-size: 20px;
}
.bachead a{
    text-decoration: none;
    color: white;
     padding-left: 20px;
}
ul{
    list-style: none;
}
.bachead1{
    margin-right:auto;
}
#backimg_cont{
display: flex;
flex-direction: column;
/* justify-content: space-around; */
align-items:center;
/* background-color: blue; */
color: white;
padding: 100px 0px 0px 0px;
font-size: 21px;
}
#border{
    padding:0px 10px 30px 0px;
    border-bottom: solid white 2px;
    /* border-radius: 5px; */
}
.back_cont4{
    padding-top: 15px;
    /* background-color: white; */
}
.back_cont5 button{
    margin-top: 50px;
    padding:15px 10px 15px 10px;
    font-size: 13px;
    border: solid white 2px;
    cursor: pointer;
   color: #e7696999;
   border-radius: 7px;
}
#secont{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#fsecont{
    padding: 100px 0px 0px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fsecont1{
    border-bottom: solid #e7696999 3px;
    padding-bottom: 15px;
    color:#000000b3;
    font-size: 15px;
}
.fsecont2{
    text-align: center;
    font-size: 20px;
    width: 65%;
    color:#000000b3;
    padding: 20px 0px 0px 0px;

}
#ssecont{
    display:flex;
    flex-direction: row;
    justify-content: center;
    /* justify-content: space-around; */
    padding: 50px 10px 120px 0px;
    background-color: white;
    color:#000000b3;
}
#secontainer{
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    text-align: center;
    font-size: 20px;
    width: 25%;
    
}
#secontainer li{
    padding: 13px 0px 0px 0px;
}
#thirdcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color:#58595cb3;
    color: white;
    padding: 100px 0px 0px 0px;
    
}
#thirdsubcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0px 0px 100px 0px;
    
   
}
.thirdsubcon1{
    border-bottom: solid white 3px;
    padding-bottom: 15px;
}
.thirdsubcon2{
    padding-top: 30px;
    font-size: 17px;
    width: 70%;
}
#thirdsubcontent{
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0px 0px 50px 0px;
}
.thirdsubcontent{
    display: flex;
    flex-direction: column;
    margin-left: 40px;
    text-align: center;
    /* font-size: 20px; */
    width: 17%;
    border: solid white 3px;
    background-color: white;
    color: #000000b3;
    font-size: 17px;
    text-align: center;
    padding: 17px 30px 45px 30px; 
    border-radius: 10px;
    transition: box-shadow 0.2s;
}
.thirdsubcontent li{
    padding: 7px 0px 7px 0px;
}
.thirdsubcontent:hover{
    box-shadow: 7px 7px 10px 10px #58595cb3;
    z-index: 2;
}
#face{
    border-radius: 100%;
}
#fourthcont{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0px 50px 0px;
    font-size: 20px;
    color: #000000b3;
}
#fourthcont li{
    padding: 0px 0px 10px 0px;
}
.fourthcont2{
    border-bottom: solid #e7696999 3px;
    margin-bottom: 70px;

}
.fourthcont3{
    display: flex;
    justify-content: center;
    
}
.fourthcont3 img{
    margin:0px 40px 0px 40px;
}
.fourthcont4{
    /* padding: 100px 0px 0px 0px; */
    text-align: center;
    
    width: 65%;
}
#lastback_img{
    min-height: 420px;
    background-image:url("imgs/office-1.jpeg");
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
#lastcontent{
     display: flex; 
    background-color:#362c2999;
    flex-direction: column;
    width: 100%;
    height:420px;
    color: white;
    align-items: center;
    padding: 100px 0px 0px 0px;
    /* padding: 0px 0px 0px 0px; */
     /* z-index:2;   */
}
#border1 {
    padding: 0px 0px 29px 0px;
    border-bottom: solid white 2px;
    /* border-radius: 5px; */
}
#lastcont{
    display: flex;
    flex-direction: column;
     /* width: 50%; */
     align-items: center;
     text-align: center;
     font-size: 20px;
}
.lastcont1{
padding: 0px 0px 15px 0px;
}
.lastcont3{
    padding: 40px 0px 0px 0px;
    width: 70%;
    color:#ffffffe6;
}
#lastbtn button{
    margin-top: 80px;
    padding:15px 20px 18px 20px;
    font-size: 13px;
    border:solid #e7696999 0px;
    cursor: pointer;
    color: white;
    border-radius: 7px;
     background-color: #e76969;
}
#footers{
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color:#000000e6;
}
#footer{
    display: flex;
    flex-direction: column;
    width: 30%;
    /* align-items: flex-start; */
    flex-basis: 1;
    margin:50px 0px 20px 100px;
    padding: 0px 10px 0px 0px; 

}
#footer h3{
    color: white;
}
a{
    text-decoration: none;
    color: white;
    
}
footer{
    text-align: center;
    color: white;
    background-color: black;
}